<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <script>
        window.onload = function() {
            alert("Reset Password Successfully");
            setTimeout(function() {
                window.location.href = "/users/login";
            }, 1000);
        };
    </script>
</head>
<body>
<div class="text-center">
    <h1>Reset Password</h1>
    <h4>Your password has been successfully reset</h4>
</div>
</body>
</html>
