<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Admin</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">

<!--  <link href="css/bootstrap.min1.css" rel="stylesheet"> -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min1.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
<link rel="stylesheet" th:href="@{/css/_all-skins.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.css}">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

<!-- <link href="css/style1.css" rel="stylesheet"> -->
<link rel="stylesheet" th:href="@{/css/style1.css}" />
<script th:src="@{/js/angular.min.js}"></script>
<script th:src="@{/js/app.js}"></script>

</head>

